<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
    <title>SISPRO | {{empresa}}</title>
    <style>
        .botaoTabela{
            width: 40px;
        }
    </style>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
{{menu}}
</br>
<div class="container-fluid" style="display:none">
    <div class="card">
        <div class="card-header">
            Dossiê Eletrônico
        </div>
        <div class="card-body">
            <ul data-role="listview" data-view="content" data-select-node="true">
                {{diretorios}}
            </ul>
        </div>
    </div>
</div>
<div id="dialogArquivo" title="Arquivo">
    <div id="pdf"></div>
</div>
<script>
    var arquivoAjax;
    function diretorio(cliente){
        window.location.href = "/dossie/arquivos/" + cliente;
    }

    function vizualizar(arquivo){
        arquivoAjax = arquivo;
        let t = "<embed style='width: 100%; height: 500px;' src=\"/arquivos/" + arquivo + "\" type='application/pdf'>";
        $("#pdf").html(t);
        $("#dialogArquivo").dialog("open");
    }

    $(document).ready(function(){
        $("#dialogArquivo").dialog({
            autoOpen: false,
            width: 800,
            modal: true,
            buttons: {
                "Deletar Arquivo": function() {
                    $( this ).dialog( "close" );

                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger'
                        }
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'DESEJA REALMENTE EXCLUIR ESSE ARQUIVO?',
                        text: "ESSA AÇÃO NÃO TEM VOLTA",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'SIM, EXCLUIR',
                        cancelButtonText: 'NÃO, CANCELAR',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url : "/dossie/excluir/" + arquivoAjax,
                                type : 'get',
                                beforeSend : function(){
                                    loader();
                                }
                            })
                                .done(function(msg){
                                    desloader();
                                    swalWithBootstrapButtons.fire(
                                        'ARQUIVO DELETADO',
                                        'NÃO É POSSÍVEL RECUPERÁ-LO',
                                        'success'
                                    )
                                })
                                .fail(function(jqXHR, textStatus, msg){
                                    swalWithBootstrapButtons.fire(
                                        'ERRO',
                                        'O ARQUIVO NÃO FOI DELETADO',
                                        'error'
                                    )
                                });

                        } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                'CANCELADO',
                                'O ARQUIVO NÃO FOI DELETADO',
                                'info'
                            )
                        }
                    })
                }
            },
            show: {
                effect: "fade",
                duration: 500
            },
            hide: {
                effect: "fade",
                duration: 500
            }
        });
    });
</script>
</body>
</html>