<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
        <title>SISPRO | {{empresa}}</title>
    <style>
        .fild{
            border-bottom: 2px solid #DCDCDC;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .row{
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
{{menu}}
</br>
<div class="container">
    <h4 style="text-align: center;">DOSSIÊ :: UPLOAD</h4>
    <form autocomplete="off" method="post" action="/dossie/upload" enctype="multipart/form-data">
        <div class="card">
            <div class="card-content p-5">
                <fieldset class="fild">
                    Dados do Arquivo
                </fieldset>
                <div class="row mb-2">
                    <label class="cell-sm-1">Cliente</label>
                    <div class="cell-sm-11">
                        <select name="cliente" data-role="select" class="input-small">{{clientes}}</select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-1">Nome do Arquivo</label>
                    <div class="cell-sm-11">
                        <input type="text" name="nomeArquivo" data-role="input" class="input-small" required>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="cell-sm-1">Arquivo</label>
                    <div class="cell-sm-11">
                        <input type="file" name="arquivo" data-role="file" class="input-small" required>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="button primary">Upload</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>