<table width="770" border="0" cellpadding="2" cellspacing="3" style="border-top: 1px dotted rgb(0, 0, 0); border-bottom: 1px dotted rgb(0, 0, 0); height: 340px;">
    <tr>
        <td style="height: 8.6cm;">
            <table style="" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" width="150">
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0" height="28">
                            <tr>
                                <td><img src="{{base}}/src/img/logosantander.jpg"></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150">
                                    <table width="150" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="mkauth04">Número do Documento </td>
                                        </tr>
                                        <tr>
                                            <td class="mkauth05" align="right"> {{numeroDocumento}} </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150">
                                    <table width="150" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="mkauth04">Vencimento</td>
                                        </tr>
                                        <tr>
                                            <td class="mkauth05" align="right"> {{dataVencimento}} </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04"> Agência/Código </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right"> {{agencia}} / {{codigoCedente}} </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">Nosso Número</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right"> {{nossoNumero}} </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">Espécie</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right"> REAL </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">(=) Valor do Documento</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right"> {{valor}} </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">(-) Desconto/Abatimento </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right">&nbsp;</td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>

                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">(+) Mora/Multa </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right">&nbsp;</td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>

                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">(=) Valor Cobrado </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right">&nbsp;</td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>

                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">CPF/CNPJ</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05">{{cpfCliente}}</td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>

                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04"> Beneficiário </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05">GALAX PAY PAGAMENTOS ELETRONICOS LTDA</td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>

                    </td>
                    <td valign="top" width="15">&nbsp;</td>
                    <td valign="top"><table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" height="28">
                        <tr>
                            <td><img src="{{base}}/src/img/logosantander.jpg"></td>
                            <td style="border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);" width="55" align="center"><font class="mkauth02"> 033-7 </font></td>
                            <td class="mkauth06" valign="bottom" align="right"> {{codigoBarras}} </td>
                        </tr>
                    </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">Local de Pagamento </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05"> Pagar preferencialmente no Banco Santander </td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Vencimento</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right"> {{dataVencimento}} </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">Beneficiário</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05"> GALAX PAY PAGAMENTOS ELETRONICOS LTDA </td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04"> Agência/Código </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right"> {{agencia}} / {{codigoCedente}} </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">Data  Doc. </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05"> {{dataDocumento}} </td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Número Doc. </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05"> {{numeroDocumento}} </td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Espécie  Doc. </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05">  </td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Aceite</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05">N&nbsp;</td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Data  Processamento </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05"> {{dataProcessamento}} </td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Nosso Número </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right"> {{nossoNumero}} </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04">Uso do Banco </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05">&nbsp;</td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Carteira</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05"> {{carteira}} </td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Espécie</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" height="12"> REAL </td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Quantidade</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05"><!-- {QUANTIDADE} --></td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">Valor</td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05"><!-- {VALOR_UNITARIO} --></td>
                                    </tr>
                                </table></td>
                                <td style="border-left: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">(=) Valor do Documento </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right"> {{valor}} </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td rowspan="5" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04"> Instruções de responsabilidade do Beneficiário. Qualquer dúvida sobre este boleto, contate o beneficiário. </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05">

                                            Este boleto pode ser pago em qualquer banco, mesmo que vencido, desde que não ultrapasse 59 dia(s) da data do vencimento (sujeito a multa
                                            e juros). <br />
                                            Após o vencimento multa de 2% e juros de 1%(ao mês)

                                        </td>
                                    </tr>
                                </table></td>
                                <td width="120" valign="top" style="border-left: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);"><table width="120" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">(-) Desconto/Abatimento </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right">&nbsp;</td>
                                    </tr>
                                </table></td>
                            </tr>

                            <tr>
                                <td width="120" valign="top" style="border-left: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);"><table width="120" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">(+) Mora/Multa </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right">&nbsp;</td>
                                    </tr>
                                </table></td>
                            </tr>

                            <tr>
                                <td width="120" valign="top" style="border-left: 1px solid rgb(0, 0, 0);"><table width="120" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
                                        <td class="mkauth04">(=) Valor Cobrado </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05" align="right">&nbsp;</td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        <table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="mkauth04"> Pagador </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth05">{{nomeCliente}} - {{cpfCliente}}<br>
                                            {{endereco}}, {{numero}}, {{bairro}}, {{estado}}, {{cep}} <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mkauth04"> Sacado/Avalista </td>
                                    </tr>

                                    <!-- BEGIN BLOCK_AVALISTA -->
                                    <tr>
                                        <td class="mkauth05"> {{sacadoAvalista}} </td>
                                    </tr>
                                    <!-- END BLOCK_AVALISTA -->

                                </table></td>
                            </tr>
                        </table>
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="5" align="left"></td>
                            </tr>
                        </table>
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td nowrap="nowrap" width="1%"> {{barcode}} </td>
                                <td align="center" class="mkauth04">Autenticação Mecânica <br /><strong>Ficha de Compensação</strong></td>
                            </tr>
                        </table></td>
                </tr>
            </table></td>
    </tr>
</table>