<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
    <title>SISPRO | {{empresa}}</title>
    <style>
        .fild{
            border-bottom: 2px solid #DCDCDC;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .row{
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
{{menu}}
</br>
<div class="container" style="display: none">
    <h4 style="text-align: center;">PRODUTOS :: SAÍDA</h4>
    <form autocomplete="off" method="post" action="/produtos/saida">
            <div class="card">
                <div class="card-content p-5">
                    <fieldset class="fild">
                        Dados
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Produto</label>
                        <div class="cell-sm-10">
                            <select data-role="select" class="input-small" name="nome">{{produtos}}</select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Quantidade</label>
                        <div class="cell-sm-2">
                            <input type="text" name="quantidade" data-role="spinner" data-min-value="0" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Motivo</label>
                        <div class="cell-sm-10">
                            <textarea name="motivo" data-role="textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="button primary">Cadastrar</button>
                </div>
            </div>
    </form>
</div>
</body>
</html>