<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTRATO PERMANÊNCIA</title>
</head>
<body style="">
<p style="text-align:center"><span style="font-size:16px"><strong>CONTRATO DE PERMANÊNCIA</strong></span></p>
<p style="text-align: justify;">Pelo presente instrumento, de um lado a doravante <strong>{{razaoSocial}}&nbsp;</strong>denominada <strong>PRESTADORA</strong>, qualificada no Contrato de Presta&ccedil;&atilde;o de Servi&ccedil;o de Comunica&ccedil;&atilde;o Multim&iacute;dia devidamente identificado na cl&aacute;usula 1.1 do termo de ades&atilde;o, e de outro lado, o <strong>ASSINANTE Sr.(A)</strong>&nbsp;<strong>{{nomeCliente}}</strong> qualificado no termo de ades&atilde;o n&ordm; <strong>{{termo}}</strong> assinado em {{dataAtual}}</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA PRIMEIRA &ndash; DAS CONSIDERA&Ccedil;&Otilde;ES PRELIMINARES</strong></p>
<p style="text-align: justify;"><strong>1.1</strong> O presente <strong>CONTRATO DE PERMAN&Ecirc;NCIA</strong> encontra-se em conson&acirc;ncia com o <strong>CONTRATO DE PRESTA&Ccedil;&Atilde;O DE SERVI&Ccedil;OS DE COMUNICA&Ccedil;&Atilde;O MULTIM&Iacute;DIA (SCM),</strong> e acess&oacute;rios se houver<strong>,</strong> com seu respectivo <strong>TERMO DE ADES&Atilde;O. </strong>Todos estes instrumentos formalizados entre as partes, em conjunto, formam um s&oacute; instrumento para os fins de direito e devem ser lidos e interpretados conjuntamente.</p>
<p style="text-align: justify;"><strong>1.2</strong> Foram apresentados ao <strong>ASSINANTE</strong> determinados benef&iacute;cios antes da contrata&ccedil;&atilde;o<strong>,</strong> tendo como contrapartida a <strong>FIDELIZA&Ccedil;&Atilde;O</strong> do <strong>ASSINANTE</strong> pelo prazo descrito neste instrumento, tendo tamb&eacute;m sido apresentados ao <strong>ASSINANTE</strong> todas as condi&ccedil;&otilde;es relacionadas a esta <strong>FIDELIDADE,</strong> inclusive no que se refere &agrave;s penalidades decorrentes da rescis&atilde;o contratual antecipada.</p>
<p style="text-align: justify;"><strong>1.3</strong> O <strong>ASSINANTE</strong> optou livremente pela percep&ccedil;&atilde;o dos benef&iacute;cios e, por conseguinte, pela contrata&ccedil;&atilde;o sob a condi&ccedil;&atilde;o de fidelidade contratual, tendo total e amplo conhecimento das consequ&ecirc;ncias decorrentes da fideliza&ccedil;&atilde;o contratual, bem como das penalidades decorrentes da fideliza&ccedil;&atilde;o contratual, bem como das penalidades decorrentes da rescis&atilde;o contratual antecipada, sendo facultado ao <strong>ASSINANTE</strong> pela celebra&ccedil;&atilde;o de um contrato com a <strong>PRESTADORA</strong> sem a percep&ccedil;&atilde;o de qualquer benef&iacute;cio.</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA SEGUNDA &ndash; DOS BENEF&Iacute;CIOS CONCEDIDOS AO ASSINANTE</strong></p>
<p style="text-align: justify;"><strong>2.1</strong> Conforme contrato formalizado entre as partes, a <strong>PRESTADORA</strong> concede ao <strong>ASSINANTE</strong>&nbsp;todos os benef&iacute;cios presentes no CLUBE DE BENEF&Iacute;CIOS.</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA TERCEIRA &ndash; DA FIDELIDADE CONTRATUAL</strong></p>
<p style="text-align: justify;"><strong>3.1</strong> O presente instrumento formaliza a <strong>CONCESS&Atilde;O DE BENEF&Iacute;CIO</strong> ao <strong>ASSINANTE,</strong> conforme descrito na <strong>Clausula Segunda</strong>, e, em contrapartida, o <strong>ASSINANTE <u>vincula-se contratualmente</u></strong> a <strong>PRESTADORA</strong> pelo per&iacute;odo m&iacute;nimo de <strong>12 (doze) meses</strong>, a contar da assinatura do presente instrumento.</p>
<p style="text-align: justify;"><strong>3.2</strong> Caso o <strong>ASSINANTE</strong> rescinda o contrato antes do t&eacute;rmino do prazo de perman&ecirc;ncia m&iacute;nima, o <strong>ASSINANTE</strong> dever&aacute; restituir a <strong>PRESTADORA</strong> o valor correspondente ao benef&iacute;cio recebido, proporcionalmente ao n&uacute;mero de meses restantes para o t&eacute;rmino do contrato, conforme f&oacute;rmula abaixo:</p>
<p style="text-align: center;"><strong>VM = (VP*40%) X MR</strong></p>
<p>Sendo:</p>
<p>VM = Valor da multa;</p>
<p>VP = Valo pago mensalmente;</p>
<p>MR = N&uacute;mero total de meses restantes para se completar o prazo de fidelidade.</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA QUARTA &ndash; DAS DISPOSI&Ccedil;&Otilde;ES FINAIS</strong></p>
<p style="text-align: justify;"><strong>4.1</strong> O presente <strong>CONTRATO DE PERMAN&Ecirc;NCIA</strong> forma, em conjunto com o <strong>CONTRATO DE PRESTA&Ccedil;&Atilde;O DE SERVI&Ccedil;OS DE COMUNICA&Ccedil;&Atilde;O MULTIM&Iacute;DIA (SCM) </strong>e acess&oacute;rios se houver e o <strong>TERMO DE ADES&Atilde;O, t&iacute;tulo executivo extrajudicial</strong>, para todos os fins de direito.</p>
<p style="text-align: center;">Carpina, {{dataInicio}}</p>
<br/><br/>
<table border="0" style="width: 100%; margin-left: auto; margin-right: auto;">
  <tbody>
  <tr style="height: 21px;">
    <th style="width: 49.944%; height: 21px; text-align: center;">____________________________________</th>
    <th style="width: 49.944%; height: 21px; text-align: center;">____________________________________</th>
  </tr>
  <tr style="height: 21px;">
    <td style="width: 49.944%; height: 21px; text-align: center;">{{razaoSocial}}</td>
    <td style="width: 49.944%; height: 21px; text-align: center;">{{nomeCliente}}</td>
  </tr>
  </tbody>
</table>
</body>
</html>
