<style>
    #navbar{
        background-color: #172C3D;
        -webkit-box-shadow: 0px 0px 21px 8px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 21px 8px rgba(0,0,0,1);
        box-shadow: 0px 0px 21px 8px rgba(0,0,0,1);
    }

    #menu{
        margin-left: 10px;
        width: 100px;
        cursor: pointer;
        z-index: 99999;
    }

    #menu img{
        width: 100px;
    }

    #menuSuspenso{
        display: none;
        margin-top: 2px;
        width: 300px;
        height: 300px;
        margin-left: 10px;
        -webkit-box-shadow: 0px 0px 21px 8px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 21px 8px rgba(0,0,0,1);
        box-shadow: 0px 0px 21px 8px rgba(0,0,0,1);
        position: absolute;
        z-index: 999999;
        background-color: #172C3D;
    }

    .opcoes{
        margin: 10px;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
    }

    .opcoes img{
        width: 100%;
    }

    .tabelaMenu{
        margin: auto;
        width: 100%;
    }

    .tabelaMenu td{
        padding-bottom: 20px;
    }

    .label{
        color: white;
        font-weight: bold;
    }

    #menuCliente{
        display: none;
    }

    #carrega{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: white;
    }

    #loader{
        margin: 0 auto;
        width: 246px;
    }
</style>
<div id="navbar">
    <div id="menu">
        <img src="/src/img/logoBranca.png">
    </div>
</div>
<div id="menuSuspenso">
    <div id="menuPrincipal">
        <table class="tabelaMenu">
            <tr>
                <td align="center">
                    <div class="opcoes" onclick="menuClientesAcessar()">
                        <img src="/src/img/clientes.png">
                        <span class="label">Clientes</span>
                    </div>
                </td>
                <td align="center">
                    <div class="opcoes">
                        <img src="/src/img/financeiro.png">
                        <span class="label">Financeiro</span>
                    </div>
                </td>
                <td align="center">
                    <div class="opcoes">
                        <img src="/src/img/entradaEstoque.png">
                        <span class="label">Estoque</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="menuCliente">
        <table class="tabelaMenu">
            <tr>
                <td align="center">
                    <div class="opcoes" onclick="link('/clientes/consultar')">
                        <img src="/src/img/consultarCliente.png">
                        <span class="label">Consultar</span>
                    </div>
                </td>
                <td align="center">
                    <div class="opcoes">
                        <img src="/src/img/cadastrarCliente.png">
                        <span class="label">Cadastrar</span>
                    </div>
                </td>
                <td align="center">
                    <div class="opcoes">
                        <img src="/src/img/dossie.png">
                        <span class="label">Dossiê</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" onclick="menuClientesVoltar()">
                    <div class="opcoes">
                        <img src="/src/img/voltar.png">
                        <span class="label">Voltar</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="carrega">
    <div id="loader">
        <img src="/src/img/carregando.gif">
    </div>
</div>
<script>
    $(window).on("load", function(){
        desloader();
    });

    function desloader(){
        $("#loader").delay(500).fadeOut("slow");
        $("#carrega").delay(500).fadeOut("slow");

        $(".container-fluid").toggle("fast");
        $(".container").toggle("fast");
    }

    function loader(){
        $("#loader").delay(100).fadeIn("slow");
        $("#carrega").delay(100).fadeIn("slow");

        $(".container-fluid").toggle("slow");
        $(".container").toggle("slow");
    }

    var menu = document.getElementById('menu');
    var menuSuspenso = document.getElementById('menuSuspenso');
    var menuPrincipal = document.getElementById('menuPrincipal');
    var menuCliente = document.getElementById('menuCliente');

    menu.addEventListener('click', function (){
        if(menuSuspenso.style.display === 'block'){
            menuSuspenso.style.display = 'none';
        }else{
            menuSuspenso.style.display = 'block';
        }
    });

    function menuClientesAcessar(){
        menuPrincipal.style.display = 'none';
        menuCliente.style.display = 'block';
    }

    function menuClientesVoltar(){
        menuCliente.style.display = 'none';
        menuPrincipal.style.display = 'block';
    }

    function link(pagina){
        window.location.href = pagina;
    }
</script>