<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
<link href="/src/css/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<style>
    h4{
        color: white;
        font-weight: bold;
    }

    .tabs-holder{
        background-color: white;
    }

    .img-tabela{
        width: 30px;
    }

    .opcaoDesativada{
        filter: grayscale(1);
        cursor: not-allowed;
    }

    #tabela{
        text-align: center;
    }
</style>