<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
    <title>SISPRO | {{empresa}}</title>
    <style>
        .fild{
            border-bottom: 2px solid #DCDCDC;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .row{
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
{{menu}}
</br>
<div class="container" style="display: none">
    <h4 style="text-align: center;">FUNCIONÁRIOS :: CADASTRAR</h4>
    <form autocomplete="off" method="post" action="/funcionarios/cadastrar">
            <div class="card">
                <div class="card-content p-5">
                    <fieldset class="fild">
                        Dados Pessoais
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Nome Completo</label>
                        <div class="cell-sm-10">
                            <input type="text" name="nome" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Data Nascimento</label>
                        <div class="cell-sm-3">
                            <input type="date" data-role="input" name="dataNascimento" class="input-small">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">CPF</label>
                        <div class="cell-sm-2">
                            <input type="text" name="cpf" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">RG</label>
                        <div class="cell-sm-2">
                            <input type="text" name="rg" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Telefone</label>
                        <div class="cell-sm-3">
                            <input type="text" name="telefone" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">E-mail</label>
                        <div class="cell-sm-4">
                            <input type="text" name="email" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Sexo</label>
                        <div class="cell-sm-3">
                            <select data-role="select" name="sexo" class="input-small" data-filter="false">
                                <option>Masculino</option>
                                <option>Feminino</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <fieldset class="fild">
                        Endereço
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">CEP</label>
                        <div class="cell-sm-2">
                            <input type="text" name="cep" id="cep" data-role="input" class="input-small" required
                                   data-search-button="true"
                                   data-search-button-click="custom"
                                   data-on-search-button-click="pesquisaCEP">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Endereço</label>
                        <div class="cell-sm-10">
                            <input type="text" name="endereco" id="endereco" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Número</label>
                        <div class="cell-sm-2">
                            <input type="text" name="numero" id="numero" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Bairro</label>
                        <div class="cell-sm-4">
                            <input type="text" name="bairro" id="bairro" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Cidade</label>
                        <div class="cell-sm-4">
                            <input type="text" name="cidade" id="cidade" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Estado</label>
                        <div class="cell-sm-4">
                            <input type="text" name="estado" id="estado" data-role="input" class="input-small" required>
                        </div>
                    </div>
                    <br/>
                    <fieldset class="fild">
                        Informações
                    </fieldset>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Data Admissão</label>
                        <div class="cell-sm-3">
                            <input type="date" data-role="input" name="dataAdmissao" class="input-small">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="cell-sm-2">Cargo</label>
                        <div class="cell-sm-10">
                            <input type="text" data-role="input" name="cargo" class="input-small">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="button primary">Cadastrar</button>
                </div>
            </div>
    </form>
</div>
<script>
    function pesquisaCEP(){
        let cep = $("#cep").val();
        $.ajax({
            url : "/cep/pesquisar",
            type : 'post',
            data : {
                cep : cep
            },
            dataType: 'JSON',
            beforeSend : function(){
                Metro.notify.create("Carregando Dados", "Aguarde", {});
                $("#cidade").val("Aguarde...");
                $("#endereco").val("Aguarde...");
                $("#bairro").val("Aguarde...");
                $("#estado").val("Aguarde...");

                $("#cidade").attr('readonly', true);
                $("#endereco").attr('readonly', true);
                $("#bairro").attr('readonly', true);
                $("#estado").attr('readonly', true);
            }
        })
            .done(function(data){
                if(data.error != ""){
                    $("#cidade").attr('readonly', false);
                    $("#endereco").attr('readonly', false);
                    $("#bairro").attr('readonly', false);
                    $("#estado").attr('readonly', false);

                    $("#cidade").val("");
                    $("#endereco").val("");
                    $("#bairro").val("");
                    $("#estado").val("");

                    Metro.notify.create("Cep não encontrado", "Erro", {});
                }

                $("#cidade").val(data.city);
                $("#bairro").val(data.district);
                $("#endereco").val(data.street);
                $("#estado").val(data.uf);
                console.log(data);
            })
            .fail(function(jqXHR, textStatus, msg){
                $("#cidade").attr('readonly', false);
                $("#endereco").attr('readonly', false);
                $("#bairro").attr('readonly', false);
                $("#estado").attr('readonly', false);

                $("#cidade").val("");
                $("#endereco").val("");
                $("#bairro").val("");
                $("#estado").val("");

                Metro.notify.create("Falha ao carregar dados", "Erro", {});
                alert(msg);
            });
    }
</script>
</body>
</html>