<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{navbar}}
    <title>SISPRO | {{empresa}}</title>
    <style>
        .fild{
            border-bottom: 2px solid #DCDCDC;
            font-size: 12px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
{{menu}}
</br>
<div class="container" style="display: none">
    <h4 style="text-align: center;">PONTO ELETRÔNICO :: HORÁRIOS</h4>
    {{horarios}}
</div>
</body>
</html>